@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Caprasimo&family=Lilita+One&display=swap");
h1 {
  margin: 0;
  padding: 0;
  color: white;
}
.header {
  background-color: rgb(47, 45, 45);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}
.logo {
  background-color: rgb(255, 213, 6);
  color: black;
  border-radius: 0.5rem;
  padding: 5px;
  margin-left: 20px;
  font-size: 1.4rem;
  font-family: "Caprasimo", cursive;
}
.movie {
  width: 10rem;
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 1rem;
}
.movie img {
  height: 150px;
  object-fit: cover;
}
.top-movies-container {
  display: flex;
  flex-wrap: wrap;
}

.search-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-input {
  border-radius: 1.5rem;
  border: none;
  width: 30%;
  padding: 10px;
  margin: 10px;
}
.search-movie-card {
  width: 20rem;
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 1rem;
}
.search-movie-img {
  width: 90%;
}

.found-movie-container {
  display: flex;
  flex-wrap: wrap;
}

.movie-detail-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.movie-detail-card h4 {
  margin: 10px 0;
  color: rgb(89, 212, 253);
}
.movie-detail-card h3 {
  margin: 0;
}

.movie-detail-card {
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 1rem;
  width: 50%;
}
